.dialogsWrapper {
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 10px;

}
.dialogs {
    padding: 10px;
    border-right: 2px solid #945858;
}

.dialogItem {
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding-bottom: 15px;
}

.dialogItem a{
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}

.ava {
    width: 40px;
    height: 40px;
    background: orange;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 37px;
    font-size: 13px;
}

.messages {
    padding: 10px;
}

.messagesItem {

}